@font-face {
    font-family: "Avenir";
    src: url("~static/fonts/Avenir Next LT Pro/Avenir Next LT Pro Regular/Avenir Next LT Pro Regular.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("~static/fonts/Avenir Next LT Pro/Avenir Next LT Pro Demi/Avenir Next LT Pro Demi.otf") format("opentype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("~static/fonts/Avenir Next LT Pro/Avenir Next LT Pro Bold/Avenir Next LT Pro Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("~static/fonts/Avenir Next LT Pro/Avenir Next LT Pro Italic/Avenir Next LT Pro Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gotham";
    src: url("~static/fonts/Gotham Black Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



html {
    font-family: "Avenir";
}